// Breakpoints
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1200px;

// Spacing
$tiny-margin: 5px;
$small-margin: 20px;
$small-padding: 15px;

// Colors
$medium-blue: #7d92be ;

// Font Size
$body-copy: 1.25em;
$very-small: .8em;